In [2]:
# !pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=52cacf6f2ae80c53c75a2f5409349f48046ca84c7367779623388260338a9961
  Stored in directory: c:\users\felip\appdata\local\pip\cache\wheels\32\2a\54\10c595515f385f3726642b10c60bf788029e8f3a1323e3913a
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [1]:
import pandas as pd
from apyori import apriori

# Carregando dados

In [2]:
mercado = pd.read_csv('C:/Users/felip/Desktop/2022 Estudos/Python/Sistemas De Recomendação/mercado.csv',header=None)

Compras de varias pessoas em uma padaria

coluna 0: primeiro item

coluna 1, 2...: proximos itens

In [3]:
mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

# Transformando em lista e str
Para utilizar o algoritmo Apriori precisamos que cada compras dos clientes sejam uma lista, e que os nan sejam considerados string.

In [7]:
lista = mercado.to_numpy().astype('str').tolist()

In [8]:
lista

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

# Utilizando algoritmo parametros importantes

* Suporte = Calculamos o quanto um determinado produto aparece na base de dados, ao definir um suporte estamos limitando nossa base a produtos que aparecem mais vezes.
* O suporte também é calculado para conjuntos de produtos ex: se definirmos um suporte de 20%, desejamos encontrar produtos que aparecem juntos mais de 20% das vezes.

* Suporte do café 3/10 = 0.3
* Suporte do pão 5/10 = 0.5

* Confiança = A confiança representa a ocorrencia de dois produtos juntos, em comparação a sua apariçao sozinha ou com outros produtos. Exemplo: se temos 3 ocorrencia de café depois pão no nosso dataset, e também sabemos que no total temos 3 compras de café, e 5 compras de pão, temos confiança de 100% para quem compra café e pão, afinal todas compras de café vinheram acompanhadas com o pão, e confiança de 60% para quem compra pão e café, pois tivemos 5 compras de pão, mas apenas 3 delas foram juntas com café. Ou seja nem todo mundo que compra pão compra café, mas todo mundo que compra café compra pão;

* Lift = Para usar o lift, ele representa a nossa confiança dividida pelo nosso suporte, por exemplo, sabemos que se comprarmos café então temos confiança de 100% para comprar pão, também sabemos que o pão é comprado em 50% das nossas compras. Logo calculamos nosso lift como (100/50) = 2. Se o nosso lift é maior que 1, significa que os produtos devem ser comprados juntos, se for menor que 1 é improvavel que sejam comprados juntos. Nesse caso onde o lift é igual 2, interpretamos isso dizendo que clientes que compram café tem 2x mais chance de comprar pão.

In [15]:
result = apriori(lista, min_support = 0.3, min_confidence = 0.8, min_lift = 2)
resultados = list(result)
resultados

In [18]:
s_l = []
se_l = []
entao_l = []
c_l = []
l_l = []

for resultado in resultados:
    s = resultado[1]
    for item in resultado[2]:
        se = list(item[0])
        se_l.append(se)
        entao = list(item[1])
        entao_l.append(entao)
        c = item[2]
        c_l.append(c)
        l = item[3]
        l_l.append(l)
        s_l.append(s)

In [19]:
s_l

[0.3, 0.3, 0.3, 0.3, 0.3]

In [20]:
se_l

[['cafe'], ['cafe'], ['cafe'], ['manteiga', 'cafe'], ['pao', 'cafe']]

In [21]:
entao_l

[['manteiga'], ['pao'], ['manteiga', 'pao'], ['pao'], ['manteiga']]

In [22]:
c_l

[1.0, 1.0, 1.0, 1.0, 1.0]

In [23]:
l_l

[2.0, 2.0, 2.5, 2.0, 2.0]

In [24]:
df = pd.DataFrame({'se':se_l,
             'entao':entao_l,
             'sup':s_l,
             'confianca':c_l,
             'lift':l_l})

In [25]:
df

                 se            entao  sup  confianca  lift
0            [cafe]       [manteiga]  0.3        1.0   2.0
1            [cafe]            [pao]  0.3        1.0   2.0
2            [cafe]  [manteiga, pao]  0.3        1.0   2.5
3  [manteiga, cafe]            [pao]  0.3        1.0   2.0
4       [pao, cafe]       [manteiga]  0.3        1.0   2.0

# ECLAT

Algoritmo ECLAT para metrificação de compras juntas

In [117]:
#!pip install pyECLAT

Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Requirement already satisfied: pandas>=0.25.3 in c:\users\felip\anaconda3\lib\site-packages (from pyECLAT) (1.3.4)
Requirement already satisfied: tqdm>=4.41.1 in c:\users\felip\anaconda3\lib\site-packages (from pyECLAT) (4.62.3)
Requirement already satisfied: numpy>=1.17.4 in c:\users\felip\anaconda3\lib\site-packages (from pyECLAT) (1.22.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\felip\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\felip\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2021.3)
Requirement already satisfied: colorama in c:\users\felip\anaconda3\lib\site-packages (from tqdm>=4.41.1->pyECLAT) (0.4.4)
Requirement already satisfied: six>=1.5 in c:\users\felip\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.16.0)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [28]:
from pyECLAT import ECLAT

In [29]:
mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [30]:
ec = ECLAT(mercado)

In [31]:
ec.df_bin

   cerveja  manteiga  pao  arroz  leite  feijao  cafe
0        1         1    1      0      1       0     0
1        0         1    1      0      0       0     1
2        0         1    1      0      0       0     1
3        0         1    1      0      1       0     1
4        1         0    0      0      0       0     0
5        0         1    0      0      0       0     0
6        0         0    1      0      0       0     0
7        0         0    0      0      0       1     0
8        0         0    0      1      0       1     0
9        0         0    0      1      0       0     0

Nossos produtos unicos

In [32]:
ec.uniq_

[nan, 'cerveja', 'manteiga', 'pao', 'arroz', 'leite', 'feijao', 'cafe']

Definindo quantidade de combinação minimas e maximas para o ECLAT assim como o suporte de apariação dos dados

In [36]:
index, suport = ec.fit(min_support = 0.3, min_combination=2, max_combination=3)

Combination 2 by 2

3it [00:00, 176.47it/s]

Combination 3 by 3

1it [00:00, 167.56it/s]

Quantidade de aparição dos dados juntos

In [37]:
index

{'manteiga & pao': [0, 1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'pao & cafe': [1, 2, 3],
 'manteiga & pao & cafe': [1, 2, 3]}

In [35]:
suport

{'manteiga & pao': 0.4,
 'manteiga & cafe': 0.3,
 'pao & cafe': 0.3,
 'manteiga & pao & cafe': 0.3}